/* == General == */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 0px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* == MAIN == */
main{
    height: 846.92px;
    width: 1191px;
    background-color: #ffffff;
    padding: 12px;

    display: flex;
    justify-content: space-between;
}



/* == SIDE NAV BAR == */
.side-navbar{
    height: 822px;
    width: 232px;
    padding: 24px 20px;
    background-color: #ffffff;
    float: left;
    flex: 0 0 232px;
    position: relative;
}


/* == Logo == */
.logo{
    height: fit-content;
    width: 192px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.logo strong{
    font-size: 23px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #28272a;
    margin: 0px;
}
.logo strong span{
    color: #6d56d6;
}
/* == || End Logo == */


/* == Nav Bar Link == */
.navbar-links{
    min-height: 100vh;
    width: 192px;
    padding: 20px 0px 0px 0px;
    position: relative;
}


/* == Side Menu == */
.side-menu{
    height: fit-content;
    width: 100%;
    padding: 10px 0px;
}
.side-menu a{
    display: flex;
    align-items: center;
    height: 50px;
    width: 192px;
    font-size: 15px;
    font-weight: 400;
    color: #a3a3a3;
    text-align: center;
    padding: 10px 6px 10px 40px;
    position: relative;
}
.side-menu a i:nth-child(1){
    position: absolute;
    left: 0;
    font-size: 16px;
    color: #a3a3a3;
}
.side-menu a i:nth-child(3){
    position: absolute;
    right: 10px;
    font-size: 13px;
    color: #a3a3a3;
}
.side-menu a span{
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    color: #a3a3a3;
}
.side-menu a:hover i{
    color: #332a3b;
    transition: all .4s ease;
}
.side-menu a:hover span{
    color: #332a3b;
    transition: all .4s ease;
}

/* == Upgrade == */
.upgrade{
    height: fit-content;
    width: 192px;
    padding: 10px 0px;
    border-radius: 8px;
    background-color: #f3f1fd;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.upgrade .svg svg{
    height: 100px;
    width: 100px;
    margin: auto;
}
.upgrade p{
    font-size: 13px;
    color: #7e7d82;
    margin: 10px 0px;
}
.upgrade p a{
    color: #7156ef;
}
.upgrade .btnUpgrade{
    height: 40px;
    width: 180px;
    border: 0;
    border-radius: 6px;
    outline: none;
    background-color: #7157ed;
    background-image: linear-gradient(to right, #7157ed, #866cff, #7157ed);
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    margin: 14px 0;
    position: relative;
    bottom: 14px;
}
.upgrade .btnUpgrade:hover{
    box-shadow: 0 0 5px #7157ed86;
    transition: all 200ms ease;
}
/* == || End Nav Bar Link == */

/* == || END SIDE NAV BAR == */

/* == CONTENT == */
.content{
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.column{
    height: fit-content;
    width: fit-content;
    padding: 0px 8px;
}
.schedule{
    height: 822px;
    width: 525px;
    border-radius: 20px;
    padding: 24px 24px;
    background-color: #f5f7fb;
}
.schedule-header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.schedule-title{
    height: fit-content;
    width: fit-content;
}
.schedule-title h1{
    height: 40px;
    font-size: 34px;
    font-weight: 600;
    color: #332a3b;
    margin: 0;
}
.schedule-title p{
    font-size: 13px;
    font-weight: 500;
    color: #332a3b;
    margin: 0;
}
.schedule-back-icon button{
    height: 40px;
    width: 40px;
    outline: none;
    border: 1px solid #dadada;
    background-color: #00000000;
    border-radius: 10px;
}
.schedule-back-icon button:hover{
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 1px 1px 6px #95989e4d;
}
.schedule-back-icon button i{
    color: #332a3b;
    font: 16px;
}





.schedule-content{
    padding: 10px 0px 0px 0px;
}

.schedule-tab{
    padding: 20px 0px 0px 0px;
    overflow: hidden;
}
.schedule-tab-head{
    height: fit-content;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.schedule-tab-head .tab.active{
    color: #332a3b;
    font-weight: 500;
}
.tab{
    height: 30px;
    min-width: fit-content;
    margin: 0px;
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;
    color: #a3a3a3;

    display: flex;
    align-items: center;
    justify-content: start;

    margin: 0px 14px 0px 0px;
}
.schedule-tab .tab-indicator{
    position: relative;
    width: 30px;
    height: 2px;
    left: 10;
    background-color: #ac78e9;
    border-radius: 1px;
    transition: all 500ms ease;
}
.schedule-tab-content{
    height: 400px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.schedule-tab-content .tabbing{
    height: fit-content;
    width: 477px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: -200%;
    opacity: 0;

    position: absolute;
    transform: scale(0.9);
    transition: opacity 500ms ease 0ms, transform 500ms ease 0ms;
}
.schedule-tab-content .tabbing.active{
    width: 477px;
    top: 20px;
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease 0ms, transform 500ms ease 0ms;
}
.schedule-col{
    height: 188px;
    width: 145px;
    border-radius: 20px;
    padding: 8px;
    display: block;
}
.schedule-col .block-one{
    height: 81px;
    width: 129px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-one img{
    height: 80px;
    width: 80px;
}
.schedule-col .block-two{
    padding: 14px 0px 0px 6px;
}
.schedule-col .block-two h3{
    font-size: 16px;
    font-weight: 450;
    color: #ffffff;
}
.schedule-col .block-two p{
    font-size: 11px;
    font-weight: 400;
}
.block-three{
    height: fit-content;
    width: 129px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}
.profile-pics{
    display: flex;
    align-items: center;
    justify-content: start;
}
.block-three img{
    height: 19px;
    width: 19px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}
.block-three img:nth-child(1){
    z-index: 2;
}
.block-three img:nth-child(2){
    z-index: 3;
    transform: translateX(-6px);
}
.block-three img:nth-child(3){
    z-index: 4;
    transform: translateX(-14px);
}
.block-three .more{
    height: 19px;
    width: 19px;
    border-radius: 50%;
    border: 1.5px solid #ffffff;
    font-size: 9px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-22px);
    z-index: 5;
}

.block-three .play{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-5px);
}
.block-three .play a{
    height: 33px;
    width: 33px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-three .play a i{
    color: #ffffff;
    font-size: 8px;
}





.col-1{
    background: linear-gradient(to right, #2a48b1, #334ed2, #2a48b1);
}
.col-1 .block-one{
    background-color: #0176d2;
}
.col-1 .block-two p{
    color: #8c9de9;
}
.col-1 .block-three .more{
    background-color: #334ed2;
}
.col-1 .block-three .play a{
    background-color: #4055bc;
}




.col-2{
    background: linear-gradient(to right, #3fb6be, #3cd1d8, #3fb6be);
}
.col-2 .block-one{
    background-color: #65e6ed;
}
.col-2 .block-two p{
    color: #7ae4e7;
}
.col-2 .block-three .more{
    background-color: #4ebcc4;
}
.col-2 .block-three .play a{
    background-color: #6dd7dd;
}




.col-3{
    background: linear-gradient(to right, #f26b88, #ff7e96, #f26b88);
}
.col-3 .block-one{
    background-color: #eecee0;
}
.col-3 .block-two p{
    color: #ffa2b8;
}
.col-3 .block-three .more{
    background-color: #fd7c93;
}
.col-3 .block-three .play a{
    background-color: #f790a3;
}


/* == Account == */
.personal-info{
    height: fit-content;
    width: fit-content;
    padding: 0px 8px;
}
.personal-info .account{
    height: 822px;
    width: 374px;
    border: 2px solid #fafafa;
    border-radius: 20px;
    padding: 26px 24px;
}
.account-access{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}
.notify-icons{
    display: flex;
    align-items: center;
    justify-content: start;
}
.notify-icons a:hover{
    cursor: pointer;
}
.notify-icons a:hover i{
    cursor: pointer;
    color: #2f41af;
}
.notification{
    height: 38px;
    width: 38px;
    border-radius: 10px;
    background-color: #f5f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 10px;
}
.notification i{
    font-size: 16px;
    color: #322e42;
}
.message{
    height: 38px;
    width: 38px;
    border-radius: 10px;
    background-color: #f5f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 10px;
}
.message i{
    font-size: 16px;
    color: #322e42;
}
.account-info{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}
.account-info .profile-pic{
    height: 50px;
    width: 50x;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}
.account-info .profile-pic img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.account-info .profile-pic img:hover{
    cursor: pointer;
}
.show{
    display: block;
}

.profile-name{
    height: fit-content;
    padding: 0px 0px 0px 23px;
}
.profile-name h2{
    font-size: 16px;
    font-weight: 600;
    color: #332a3b;
}
.profile-name p{
    font-size: 12px;
    font-weight: 400;
    color: #a3a3a3;
}
    .dropdown-content{
        height: fit-content;
        width: fit-content;
        border-radius: 6px;
        background-color: #ffffff;
        box-shadow: 2px 2px 12px #00000033;
        position: absolute;
        top: 60px;
        right: 0px;
        z-index: 10;
        display: none;
        transition: all ease .5s;
    }
    .dropdown-content.show{
        display: block;
    }
    .alert-head{
        height: 50px;
        width: 281px;
        padding: 16px;
    }
    .alert-head h2{
        font-size: 15px;
        font-weight: 500;
        font-family: 'Poppins';
        color: #1b122f;
        margin: 0;
    }
    .alert-drop{
        height: 62px;
        width: 281px;
        padding: 12px 14px;
        border-top: 1px solid #00000033;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .preview-icon{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #a8a8a8;
    }
    .preview-icon i{
        font-size: 20px;
    }
    .preview-icon .fa-calendar{
        color: #ff006a;
    }
    .preview-icon .fa-sliders-h{
        color: #fe8c43;
    }
    .preview-icon .fa-qrcode{
        color: #8869c3;
    }
    .preview-item{
        padding: 0px 0px 0px 14px;
        display: block;
        height: 32px;
        flex-grow: 1;
    }
    .preview-item h4{
        font-size: 12px;
        font-weight: 600;
        font-family: 'Poppins';
        color: #1b122f;
        margin: 0;
    }
    .preview-item p{
        font-size: 12px;
        font-weight: 400;
        font-family: 'Poppins';
        color: #494258;
        margin: 0;
    }
    



.classes{
    padding: 40px 0px;
}
.classes h2{
    font-size: 18px;
    font-weight: 600;
    color: #332a3b;
    margin-bottom: 10px;
}
.indivi-class{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.indivi-class img{
    height: 57px;
    width: 57px;
    border-radius: 10px;
}
.category{
    height: fit-content;
    width: fit-content;
    padding: 0px 10px;
    margin: 0px;
}
.category p{
    font-size: 14px;
    font-weight: 500;
    color: #332a3b;
}
.progress{
    height: 20px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress-bar{
    height: 4px;
    width: 141px;
    border-radius: 2px;
}
.progress-level{
    height: 4px;
    border-radius: 2px;
}
.progress p{
    font-size: 10px;
    font-weight: 500;
    color: #aaabaf;
    padding: 0px 6px;
}
.play-class{
    height: 57px;
    width: 30px;
    border-radius: 6px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 12px;
}
.play-class i{
    font-size: 10px;
}


.bar-one{
    background-color: #efecfb;
}
.bar-one .progress-level{
    width: 70%;
    background-color: #5353d3;
}
.play-one{
    background-color: #efecfb;
}
.play-one i{
    color: #5353d3;
}



.bar-two{
    background-color: #fff2f0;
}
.bar-two .progress-level{
    width: 70%;
    background-color: #f67f58;
}
.play-two{
    background-color: #fff2f0;
}
.play-two i{
    color: #f67f58;
}




.bar-three{
    background-color: #e9f7f0;
}
.bar-three .progress-level{
    width: 95%;
    background-color: #16af69;
}
.play-three{
    background-color: #e9f7f0;
}
.play-three i{
    color: #16af69;
}
/* == || END CONTENT == */
